<div id="posts" class="p_card-container">
    {% for post in posts %}
    <a class="p_card" href="{% url 'post' slug=post.slug %}">
        <img src="{{ post.thumbnail }}" alt="{{ post.title }}">
        <div>
            <div class="p_card-title">{{ post.title }}</div>
            <div class="p_card-date">{{ post.date }}</div>
        </div>
    </a>
    {% endfor %}
</div>

<div style="text-align:center; margin-top: 20px;">
    {% if prev_page %}
        <a href="?page={{ prev_page }}#posts">Previous</a>
    {% endif %}
    {% if next_page %}
        <a href="?page={{ next_page }}#posts">Next</a>
    {% endif %}
</div>