{% extends "blog/layout.html" %}

{% block title %}
    Blogs
{% endblock %}

{% block content %}
<div class="content-block">
<br>
<section id="learning-resources">
    <h1 class="hero-text">Learning Resources</h1>
    <p>Here are my favorite resources for languge learning.</p>
    <br>
    {% include "blog/lang_resources.html" %}
    <br>
    <div class="callout warning">
        <strong>Offer:</strong> Use my <a href="#" style="color:blue; border-bottom: black 1px solid;">link</a> to get a discount when using <strong>HelloChinese</strong>!
      </div>
</section>

</div>
{% endblock %}