{% extends "blog/layout.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'blog/image-cards.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Blogs
{% endblock %}

{% block content %}
<div class="content-block">

<section id="learning-content_list">
    <h2>Table of Contents</h2>
    <ul>
        <li><a href="#learning-story">My Story</a></li>
        <li><a href="#learning-resources">Learning Resources</a></li>
        <li>
            <a href="#learning-progress">Progress</a>
            <ul>
                <!-- Each progress update gets listed here -->
                <li><a href="#progress-2025-08-15">Finished HSK2 <small>(Aug 15, 2025)</small></a></li>
                <li><a href="#progress-2025-08-20">Started HSK3 <small>(Sep 20, 2025)</small></a></li>
            </ul>
        </li>
    </ul>
</section>

<br>
<section id="learning-story">
    <h1 class="hero-text">My Learning Story</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cum culpa sapiente quia expedita neque dolorum consectetur doloremque explicabo cupiditate laborum delectus, ex odit voluptates, voluptate animi placeat. Sint, cum?</p>
</section>

<br>
<section id="learning-resources">
    <h1 class="hero-text">Learning Resources</h1>
    <p>Here are my favorite resources for languge learning.</p>
    {% include "blog/lang_resources.html" %}
    <br>
    <div class="callout warning">
        <strong>Offer:</strong> Use my <a href="#" style="font-style: italic; border-bottom: black 1px solid;">link</a> to get a discount when using <strong>HelloChinese</strong>!
    </div>
</section>

<br>
<section id="learning-progress">
    <h1 class="hero-text">Progress</h1>

    <!-- Example Progress Update -->
    <div class="progress-entry" id="progress-2025-08-15">
        <div class="progress-header">
            <h4>Started HSK4</h4>
            <span class="progress-date">Aug 15, 2025</span>
        </div>
        <p>Excited to move forward with HSK3 materials...</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque consectetur, eius exercitationem voluptatem perspiciatis nemo, harum odit corporis nesciunt repudiandae laborum sunt sequi sed, minus nulla. Ut possimus odit quae!</p>
    </div>
    
    <div class="progress-entry" id="progress-2025-09-20">
        <div class="progress-header">
            <h4>Finished HSK3 Workbook</h4>
            <span class="progress-date">Sep 20, 2025</span>
        </div>
        <p>Excited to move forward with HSK3 materials...</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis esse veritatis tempora similique unde ipsum molestias laboriosam, omnis voluptates accusantium doloremque fugit corrupti odio vero eum voluptate ratione, illo laudantium?</p>
    </div>
</section>

<section id="images">
    {% include "blog/image_cards.html" %}
</section>
</div>
{% endblock %}