{% load static %}
<div class="image-cards">

<div class="action-bar">
  <a href="#week-1">Week 1-10</a>
  <a href="#week-2">Week 11-14 </a>
</div>
<ul class="carousel">
    <li class="day-card">
      <a id="week-1">
        <span class="day-label">Phase 1.1</span>
        <span class="transport-label">Week 1-2</span>
        <img src="{% static 'images/cn_first-impressions.jpeg' %}" alt="Paris" class="mobile-adjust">
        <div class="meta">
          <h2 class="location">Exploration</h2>
          <p class="desc">
            Since I have already <a class="blog-link" href="">been to China before</a>, I decided to check out Nanjing upon arrival.
          </p>
        </div>
      </a>
    </li>
  <li class="day-card">
    <span class="day-label">Phase 1.2</span>
    <span class="transport-label">Week 2-4</span>
    <img src="{% static 'images/cn_mandarin-classes.jpeg' %}" alt="wine" class="mobile-adjust">
    <div class="meta">
      <h2 class="location">1st mandarin lesson</h2>
      <p class="desc">The first lesson entirely being held in mandarin turned out to be quite the challenge.</p>
    </div>
  </li>
  <li class="day-card">
    <span class="day-label">Phase 1.3</span>
    <span class="transport-label">Week 5-6</span>
    <img src="{% static 'images/cn_train-station.jpeg' %}" alt="Versailles" class="mobile-adjust">
    <div class="meta">
      <h2 class="location">1st Impressions</h2>
      <p class="desc">After being here for a longer time, some <a class="blog-link" href="">unexpected events</a> have been noticable.</p>
    </div>
  </li>
  <li class="day-card">
    <span class="day-label">Phase 1.4</span>
    <span class="transport-label">Week 6</span>
    <img src="{% static 'images/cn_dorm-cooking.jpeg' %}" alt="loire valley" class="mobile-adjust">
    <div class="meta">
      <h2 class="location">Pastry cravings</h2>
      <p class="desc">After a while I craved for pancakes.. me and my classmate Masha decided to make some!</p>
    </div>
  </li> 
  <li class="day-card">
    <span class="day-label">Phase 1.5</span>
    <span class="transport-label">Week 7</span>
    <img src="{% static 'images/cn_delightful-meal.jpeg' %}" alt="Paris">
    <div class="meta">
      <h2 class="location">Time for local cuisine</h2>
      <p class="desc">A chinese friend of ours took us to a restaurants to have a shared meal.</p>
    </div>
  </li>
  <li class="day-card">
    <span class="day-label">Phase 1.6</span>
    <span class="transport-label">Week 8-9</span>
    <img src="{% static 'images/cn_reading-attempt.jpeg' %}" alt="wine">
    <div class="meta">
      <h2 class="location">Reading Attempt</h2>
      <p class="desc">I accidentally bought a Cantonese book, which was beyond my current reading skills.</p>
    </div>
  </li>
  <li class="day-card">
    <span class="day-label">Phase 1.7</span>
    <span class="transport-label">Week 10</span>
    <img src="{% static 'images/cn_farewell-lunch.jpeg' %}" alt="Chamonix">
    <div class="meta">
      <h2 class="location">Farewell Lunch</h2>
      <p class="desc">We gathered to say goodbye to our classmate who left in pursue his dream in America.</p>
    </div>
  </li>
  <li class="day-card week-start">
    <a id="week-2"></a>
    <span class="day-label">Phase 2.1</span>
    <span class="transport-label">Week 11</span>
      <img src="{% static 'images/cn_metal-concert.jpeg' %}" alt="nice">
      <div class="meta">
        <h2 class="location">Metal Concert</h2>
        <p class="desc">I didn't plan for it, but I was able to attend a metal concert in China!</p>
      </div>
  </li>
  <li class="day-card">
    <span class="day-label">Phase 2.2</span>
    <span class="transport-label">12</span>
    <img src="{% static 'images/cn_study-distraction.jpeg' %}" alt="">
    <div class="meta">
      <h2 class="location">Study session</h2>
      <p class="desc">The habit of studying daily vanished, as I often got distracted...</p>
    </div>
  </li>
  <li class="day-card">
    <span class="day-label">Phase 2.3</span>
    <span class="transport-label">Week 13</span>
    <img src="{% static 'images/cn_nju-orchestra.jpeg' %}" alt="Arles" class="mobile-adjust">
    <div class="meta">
      <h2 class="location">Last Sprint</h2>
      <p class="desc">We planned to drink at a festival, but ended up in the audience of an orchestra.</p>
    </div>
  </li>
  <li class="day-card">
    <span class="day-label">Phase 2.4</span>
    <span class="transport-label">Week 14</span>
    <img src="{% static 'images/cn_graduation.jpeg' %}" alt="Paris" class="mobile-adjust">
    <div class="meta">
      <h2 class="location">Graduation</h2>
      <p class="desc">At last, we finally graduated! Now it's time for our semester break.</p>
    </div>
  </li>
</ul>

<div class="plane"></div>
</div>