<div class="image-cards">

<div class="action-bar">
  <a href="#week-1">Prep Phase</a>
  <a href="#week-2">Study Phase</a>
</div>
<ul class="carousel">
    <li class="day-card">
      <a id="week-1">
        <span class="day-label">Preperation</span>
        <span class="transport-label">Week 1</span>
        <img src="../../static/images/cn-week1.jpeg" alt="Paris">
        <div class="meta">
          <h2 class="location">Paris</h2>
          <p class="desc">
            Arrive in the morning. Spend the day wandering around the many adorable streets and sweet cafés of Paris.
          </p>
        </div>
      </a>
    </li>
  <li class="day-card">
    <span class="day-label">Registration</span>
    <span class="transport-label">Week 2</span>
    <img src="../../static/images/cn-week2.jpeg" alt="Paris">
    <div class="meta">
      <h2 class="location">Paris</h2>
      <p class="desc">Spend the day exploring top sights in Paris with your personal tour guide.</p>
    </div>
  </li>
  <li class="day-card">
    <span class="day-label">1st Impression</span>
    <span class="transport-label">Week 3</span>
    <img src="../../static/images/cn-week3.jpeg" alt="Versailles">
    <div class="meta">
      <h2 class="location">Versailles</h2>
      <p class="desc">Explore Versailles from the lavish interior to the well-manicured gardens.</p>
    </div>
  </li>
  <li class="day-card train">
    <span class="day-label">Making Friends</span>
    <span class="transport-label">Week 4</span>
    <img src="../../static/images/cn-week4.jpeg" alt="loire valley">
    <div class="meta">
      <h2 class="location">Loire Valley</h2>
      <p class="desc">Stay overnight in the Loire Valley. Explore it's luxurious vineyards.</p>
    </div>
  </li> 
  <li class="day-card">
    <span class="day-label">1st Lesson</span>
    <span class="transport-label">Week 5</span>
    <img src="../../static/images/cn-week5.jpeg" alt="wine">
    <div class="meta">
      <h2 class="location">Burgundy</h2>
      <p class="desc">Enjoy another wine-filled day with a vineyard tour of the Burgundy region.</p>
    </div>
  </li>
  <li class="day-card">
    <span class="day-label">Study Time</span>
    <span class="transport-label">Week 6</span>
    <img src="../../static/images/cn-week6.jpeg" alt="wine">
    <div class="meta">
      <h2 class="location">Burgundy</h2>
      <p class="desc">Walk around the town of Burgundy and learn about its history.</p>
    </div>
  </li>
  <li class="day-card">
    <span class="day-label">Reality Check</span>
    <span class="transport-label">Week 7</span>
    <img src="../../static/images/cn-week7.jpeg" alt="Chamonix">
    <div class="meta">
      <h2 class="location">Chamonix</h2>
      <p class="desc">Enjoy a beautiful hike near the picturesque town of Chamonix.</p>
    </div>
  </li>
  <li class="day-card week-start">
    <a id="week-2"></a>
    <span class="day-label">Exam Phase</span>
    <span class="transport-label">Week 8</span>
      <img src="../../static/images/cn-week8.jpeg" alt="nice">
      <div class="meta">
        <h2 class="location">Nice</h2>
        <p class="desc">Arrive in Nice and explore town. Do some souvenier shopping or get a drink at a café.</p>
      </div>
  </li>
  <li class="day-card">
    <span class="day-label">Workout</span>
    <span class="transport-label">Week 9</span>
    <img src="https://images.unsplash.com/photo-1504459257750-a6dc59581529?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <div class="meta">
      <h2 class="location">Nice</h2>
      <p class="desc">Enjoy a relaxing day by the beach.</p>
    </div>
  </li>
  <li class="day-card">
    <span class="day-label">Last Sprint</span>
    <span class="transport-label">Week 10</span>
    <img src="https://images.unsplash.com/photo-1575218283431-a91baee79f47?q=80&w=1990&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Arles">
    <div class="meta">
      <h2 class="location">Arles</h2>
      <p class="desc">Explore this historic city center on the Rhône River.</p>
    </div>
  </li>
  <li class="day-card">
    <span class="day-label">Final Exam</span>
    <span class="transport-label">Week 11</span>
    <img src="https://images.unsplash.com/photo-1616091216791-a5360b5fc78a?q=80&w=1990&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Paris">
    <div class="meta">
      <h2 class="location">Paris</h2>
      <p class="desc">Enjoy one more night in Paris before flying home.</p>
    </div>
  </li>
</ul>

<div class="plane"></div>
</div>