{% extends "blog/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <header>
      <h1>Welcome to My Blog</h1>
    </header>
  
    <div class="hero-content">
      <div class="hero-image">
        <img src="../../static/images/ghostChar.png">
      </div>
      <div class="hero-text">
        <p>Insights, stories, and ideas.</p>
      </div>
    </div>
  </section>
  
  <!-- Second big centered image -->
  <div class="project-block">
    <div class="hero-image2">
      <img src="../../static/images/banner.png">
    </div>
  </div>

    <!-- Map & Tooltips -->

    {% include "blog/map.html" %}

    <!-- Search -->
    <div style="display: flex; justify-content: center; margin-bottom: 2em;">
        <form action="{% url 'search' %}" method="get">
            <label for="search">Search: </label>
            <input id="search" class="search" type="text" name="q" placeholder="Enter title name">
            <a href="{% url 'blogview' %}" class="all">All posts</a>
        </form>
    </div>

    <!-- Blog Listing -->
    {% include "blog/blog_list.html" %}
{% endblock %}