<table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Method</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr class="card-border">
        <td class="rank-s" data-label="Rank">S</td>
        <td class="lang-res_name">HelloChinese</td>
        <td>App</td>
        <td>bitesized vocabulary learning to build a habit</td>
      </tr>
      <tr class="card-border">
        <td class="rank-s" data-label="Rank">S</td>
        <td class="lang-res_name">Pleco</td>
        <td>Social</td>
        <td>undoubtedly the most versatile and complete dictionary app for Chinese</td>
      </tr>
      <tr class="card-border">
        <td class="rank-a" data-label="Rank">A</td>
        <td class="lang-res_name">Duolingo</td>
        <td>App</td>
        <td>bitesized vocabulary learning to build a habit</td>
      </tr>
      <tr class="card-border">
        <td class="rank-a" data-label="Rank">A</td>
        <td class="lang-res_name">Tandem / HelloTalk</td>
        <td>Social Chat</td>
        <td>interactive exchange with other language learners / natives</td>
      </tr>
      <tr class="card-border">
        <td class="rank-b" data-label="Rank">B</td>
        <td class="lang-res_name">HSK Books</td>
        <td>Book</td>
        <td>traditional learning material for writing and comprehension</td>   
      </tr>
    </tbody>
  </table>