{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link href="{% static 'blog/styles.css' %}" rel="stylesheet">
    <link href="{% static 'blog/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'blog/projects.css' %}" rel="stylesheet">
    <link href="{% static 'blog/footer.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include "blog/navbar.html" %}

    <div class="page-wrapper">
        <main class="mcontent">
            {% block content %}{% endblock %}
        </main>
        {% include "blog/footer.html" %}
    </div>
</body>
</html>