{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link href="{% static 'blog/styles.css' %}" rel="stylesheet">
    <link href="{% static 'blog/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'blog/projects.css' %}" rel="stylesheet">
</head>
<body>
    {% include "blog/navbar.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "blog/footer.html" %}
</body>
</html>