<div class="skew-c"></div>
<div class="colour-block" style="margin-top: 2rem">

<div class="center-container project-block">
<header>
 <h1 style="padding-top: 5px;">3 Main Projects</h1>
</header>

<div class="flex flex-col sm:flex-row gap-4 justify-center items-stretch flex-wrap, card-wrapper">
  <div class="card-container zhejiang"
  data-tilt data-tilt-max="10" data-tilt-speed="500" data-tilt-perspective="1800" data-tilt-glare data-tilt-max-glare="0.1" data-tilt-scale="1.03" data-tilt-reset="true">
   <div class="inner-border-overlay" data-tilt-transform-element></div>

   <div class="content-area p-4 sm:p-5 lg:p-7" data-tilt-transform-element>
       <div class="gradient-overlay"></div>

       <div class="elevation-badge" data-tilt-transform-element>
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
             <path d="M12 2L6.5 12h11L12 2zm5.5 11l-5.5 9-5.5-9h11z"/>
            </svg>
           Gap Year
       </div>

        <div class="text-block" data-tilt-transform-element>
           <h1 class="font-serif-display text-3xl sm:text-4xl lg:text-3xl font-bold mb-2">
            语言留学生
           </h1>
           <p class="text-sm sm:text-base lg:text-lg font-light">
               Nanjing, China
           </p>
       </div>

       <a href="{% url 'chinese' %}" class="tour-button" data-tilt-transform-element>
        Check it out
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 5l7 7-7 7"></path>
            <path d="M5 12h14"></path>
        </svg>
    </a>
   </div>
</div>


<div class="card-container bookcafe"
    data-tilt data-tilt-max="10" data-tilt-speed="500" data-tilt-perspective="1800" data-tilt-glare data-tilt-max-glare="0.1" data-tilt-scale="1.03" data-tilt-reset="true">

   <div class="inner-border-overlay" data-tilt-transform-element></div>

   <div class="content-area p-4 sm:p-5 lg:p-7" data-tilt-transform-element>
       <div class="gradient-overlay"></div>

       <div class="elevation-badge" data-tilt-transform-element>
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
             <path d="M12 2L6.5 12h11L12 2zm5.5 11l-5.5 9-5.5-9h11z"/>
            </svg>
           Traveling
       </div>

        <div class="text-block" data-tilt-transform-element>
           <h1 class="font-serif-display text-3xl sm:text-4xl lg:text-3xl font-bold mb-2">
               Travel Journey
           </h1>
           <p class="text-sm sm:text-base lg:text-lg font-light">
               Thailand, China, etc.
           </p>
       </div>

       <a href="#" class="tour-button" data-tilt-transform-element>
           Check it out
           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <path d="M12 5l7 7-7 7"></path>
               <path d="M5 12h14"></path>
           </svg>
        </a>
   </div>
</div>

<div class="card-container dnd"
    data-tilt data-tilt-max="10" data-tilt-speed="500" data-tilt-perspective="1800" data-tilt-glare data-tilt-max-glare="0.1" data-tilt-scale="1.03" data-tilt-reset="true">

   <div class="inner-border-overlay" data-tilt-transform-element></div>

   <div class="content-area p-4 sm:p-5 lg:p-7" data-tilt-transform-element>
       <div class="gradient-overlay"></div>

       <div class="elevation-badge" data-tilt-transform-element>
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
             <path d="M12 2L6.5 12h11L12 2zm5.5 11l-5.5 9-5.5-9h11z"/>
            </svg>
          <p style="margin: 0;" class=""> Personal Interests </p>
       </div>

        <div class="text-block" data-tilt-transform-element>
           <h1 class="font-serif-display text-3xl sm:text-4xl lg:text-3xl font-bold mb-2, boujee-text-2">
               Mini Projects
           </h1>
           <p class="text-sm sm:text-base lg:text-lg font-light">
               Coding, Gaming
           </p>
       </div>

       <a href="#" class="tour-button" data-tilt-transform-element>
           Check it out
           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
               <path d="M12 5l7 7-7 7"></path>
               <path d="M5 12h14"></path>
           </svg>
        </a>
   </div>
</div>
</div>
</div>
</div>

<div class="skew-cc">
<svg viewBox="0 0 1440 100" preserveAspectRatio="none">
  <path fill="#1e1e1f" d="M0,0 C360,100 1080,0 1440,100 V100 H0 Z" />
</svg>
</div>
